/* Global */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #1F1F3C;
  height: 100%;
  width: 100%;
}

/* Content Area Styles */
main.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Main Container Styles */
.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Sidebar Styles */
aside.sidebar {
  width: 275px;
  height: 100vh;
  background-color: #1F1F3C;
  padding: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
}

section.input-container, section.output-container {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

/* Lower Container Styles */
section.output-container {
  background-color: #EAEAF4;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  row-gap: 1%;
  justify-items: left;
  justify-content: space-evenly;
  padding-top: 40px;
}

/* Input Container Styles */
section.input-container {
  background-color: #A8AAD2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.input-wrapper, button {
  width: 80%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex-basis: 20%;
  text-align: right;
  margin-right: 10px;
  font-size: x-large;
}

textarea {
  flex-grow: 1;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid #1F1F3C;
  border-radius: 0;
  width: 100%;
  resize: vertical;
}

textarea#body {
  height: 80px;
  margin-top: 20px;
}

textarea#title {
  height: 30px;
}

.button-wrapper {
  width: 85%;
  margin-left: 355px;
  text-align: center;
}

.save-btn {
  background-color: #1F1F3C;
  color: #FFFFFF;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  height: 60px;
  font-size: 24px;
  color: #EAEAF4;
  font-weight: bold;
}

.new-idea {
  display: inline-block;
  border: 3px solid #1F1F3C; 
  padding: 1.5%;
  height: 85%;
  width: 250px;
}

.new-idea-title, .new-idea-body {
  text-align: center;
}

.disabled {
  background-color: lightgray;
  color: grey;
  cursor: not-allowed;
}
